Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in

config.h.in~
config.log

Makefile
config.h
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/libsccp_la-device.lo
src/libsccp_la-device.o
src/libsccp_la-main.loT
stamp-h1

*.swp*

src/libsccp.la
src/libsccp_la-main.lo
src/libsccp_la-main.o
src/libsccp_la-message.lo
src/libsccp_la-message.o
src/libsccp_la-sccp.lo
src/libsccp_la-sccp.o

