.version

Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

xivo-libsccp/autom4te.cache/
xivo-libsccp/src/.deps/

*.o
*.lo
xivo-libsccp/src/html/
xivo-libsccp/src/latex/
