[general]
authtimeout = 5
guest = no

[SEP0015C66BFD16]
type = device
dateformat = D/M/Y
voicemail = 1002
vmexten = *98
keepalive = 10
dialtimeout = 5
line = 1001
speeddial = 1-1
speeddial = 1-2

[1001]
type = line
cid_name = Alice
cid_num = 1001
setvar = XIVO_USERID=1
setvar = PICKUPMARK=1001%default
context = default
language = en_US
directmedia = yes
tos_audio = EF
disallow = all
allow = alaw,ulaw

[1-1]
type = speeddial
label = Bob
extension = 1002
blf = yes

[1-2]
type = speeddial
label = Carlos
extension = 1003
blf = yes
