Source: xivo-libsccp
Section: comm
Priority: extra
Maintainer: XiVO Dev Team <dev+pkg@proformatique.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 9), asterisk-dev (>= 13.4.0)
Standards-Version: 3.9.6

Package: xivo-libsccp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (>= 13.4.0)
Conflicts: asterisk-chan-sccp
Replaces: asterisk-chan-sccp
Provides: asterisk-chan-sccp
Description: Skinny Client Control Protocol
 Skinny Client Control Protocol, an implementation of the CISCO SCCP protocol.

Package: xivo-libsccp-dbg
Architecture: any
Depends: xivo-libsccp (= ${Source-Version})
Conflicts: asterisk-chan-sccp-dbg
Replaces: asterisk-chan-sccp-dbg
Provides: asterisk-chan-sccp-dbg
Description: Skinny Client Control Protocol with debug symbols
 Skinny Client Control Protocol, an implementation of the CISCO SCCP protocol.
