Source: wazo-libsccp
Section: comm
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), asterisk-dev (>= 8:20)
Standards-Version: 4.2.1

Package: wazo-libsccp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (>= 8:20) | asterisk-virtual
Description: Skinny Client Control Protocol
 Skinny Client Control Protocol, an implementation of the CISCO SCCP protocol.

Package: wazo-libsccp-dbg
Architecture: any
Depends: wazo-libsccp (= ${source:Version})
Description: Skinny Client Control Protocol with debug symbols
 Skinny Client Control Protocol, an implementation of the CISCO SCCP protocol.
