[general]
authtimeout = 5
guest = no
tos = 0

[SEP0015C66BFD16]
type = device
dateformat = D/M/Y
voicemail = 1002@foobar
vmexten = *98
keepalive = 10
dialtimeout = 5
timezone = America/Winnipeg
line = 1001
speeddial = 1-1
speeddial = 1-2

[1001]
type = line
cid_name = Alice
cid_num = 1001
setvar = XIVO_USERID=1
setvar = PICKUPMARK=1001%default
context = default
language = en_US
accountcode = 1001
directmedia = yes
tos_audio = EF
disallow = all
allow = alaw,ulaw
callgroup = 1,3-4
pickupgroup = 1,3-5
namedcallgroup = engineering,sales
namedpickupgroup = sales

[1-1]
type = speeddial
label = Bob
extension = 1002
blf = yes

[1-2]
type = speeddial
label = Carlos
extension = 1003
blf = yes
